<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230308154385-hsogd982g3ncbn6alpt5pvsi9770mn6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230308154385-hsogd982g3ncbn6alpt5pvsi9770mn6r</string>
	<key>API_KEY</key>
	<string>AIzaSyA-eQD-HNVk1c2hPny2r0hG8wCJdzI0N-0</string>
	<key>GCM_SENDER_ID</key>
	<string>230308154385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task2Freelance</string>
	<key>PROJECT_ID</key>
	<string>task2freelance</string>
	<key>STORAGE_BUCKET</key>
	<string>task2freelance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230308154385:ios:4ab8ea46ce8d1d14e235b0</string>
</dict>
</plist>